.box {
  width: 50%;
  min-height: 150px;
  border: 5px solid #000;
  margin: 20px;
  color: #ccc;
  padding: 20px;
  box-sizing: border-box;
}
.bg-red{
  background-color: #f00;
}
.bg-green{
  background-color: #0f0;
}
.bg-blue{
  background-color: #008CCA;
}
#big{
  background-color: orangered;
  width: 500px;
  height: 400px;
}
.view{
  width: 100vw;
  height: 100vh;
  background-color: black;

}