body {
    background-color: #ddd;
    text-align: center;
}

.App {
    font-size: 30px;
    color: #ed145b
    
}

button {
    margin-top: 20px;
    font-size: 20px;
    background-color: #ed145b;
    color: #fff;
    border-radius: 5px;
    align-items: c;
}